.btn-group {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &:not(.vertical)>button+button {
        margin-left: 5px;
    }

    &.vertical {
        min-width: 100px;
        display: inline-flex;
        flex-direction: column;

        & > button {
            display: block;
        }

        & > button:first-child {
            border-radius: 5px 5px 0 0;
        }

        & > button:last-child {
            border-radius: 0 0 5px 5px;
        }
    }
}
