.table {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 8px;
}

.table th {
    background: #dcdcdc;
}

.table td, .table th {
    border: 1px solid #ccc;
    padding: 8px;
}